<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="con" connectionString="Data Source = LAPTOP-BRVE8T7A\SQLEXPRESS;Initial Catalog=AgendaTest;Integrated Security=True;"/>
    <add name="conSetUpTest" connectionString="Data Source = LAPTOP-BRVE8T7A\SQLEXPRESS;Initial Catalog=Agenda;Integrated Security=True;" providerName="AgendaTest"/>
  </connectionStrings>
</configuration>